{% load static %}

<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>        <!--end::Fonts-->

<!--begin::Page Vendors Styles(used by this page)-->
<link href="{% static 'assets/css/pages/error.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Page Vendors Styles-->


<!--begin::Global Theme Styles(used by all pages)-->
<link href="{% static 'vendors/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/elements/statebar.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Global Theme Styles-->

<!--begin::Layout Themes(used by all pages)-->
<link href="{% static 'assets/css/layout/header/base/light.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/layout/header/menu/light.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/layout/brand/dark.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'assets/css/layout/aside/dark.css' %}" rel="stylesheet" type="text/css"/>
<!--end::Layout Themes-->


