{% extends "base/base_detail.html" %}

{% block detail %}
    {{ block.super }}
    {% if request.user.id == 1 %}
        {% if hitmans %}
            <h5 class="mt-2">List the hitman assigned</h5>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tbody>
                {% for hitman in hitmans %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ hitman.username }}</td>
                        <td>{{ hitman.get_full_name }}</td>
                        <td>{{ hitman.get_state_display }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <a class="btn btn-primary font-weight-bolder mt-2 mr-2" href="{% url 'auth:hitman_add_managers' object.pk %}">
            Add Hitmans</a>
    {% endif %}
{% endblock %}