@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

@page {
    size: A4 portrait; /* can use also 'landscape' for orientation */
    margin: 100px 2cm 125px 2cm;

    @bottom-center {
        content: element(footer);
    }
    @bottom-right-corner {
        color: #00624F;
        font-size: 10px;
        padding-top: 70px;
        padding-left: 25px;
        content: counter(page) "/" counter(pages);
    }
}

@page :first {
    @top-center {
        content: element(header);
    }
}

html {
    color: #000000;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.15;
}

header {
    position: running(header);
    top: 0;
    width: 794px;
    left: -2cm !important;
}

header img {
    height: auto !important;
    width: 100%;
}

footer {
    position: fixed;
    width: 794px;
    bottom: 0;
    left: -2cm !important;
    height: 50px;
}

footer img {
    position: absolute;
    height: auto !important;
    z-index: -1 !important;
    width: 100%;
}

footer img.qr-code {
    position: absolute;
    z-index: 1 !important;
    padding-left: 40px;
    padding-top: 88px;
    height: 50px !important;
    width: 50px !important;
}

div {
    margin: 0;
    padding: 0;
}


.watermark {
    display: inline;
    position: fixed !important;
    top: 25%;
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 1000;
}

.watermark img {
    height: auto !important;
    width: 100%;
}

html {
    color: #000000;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.15;
}
